.ant-layout-sider {
    background: #ffffff !important
}
.ant-layout {
    width: 980px;
    margin: 0 auto
}
.ant-layout-content{
    background: #ffffff
}
.ant-list-item{
padding: 12px
}
.ant-list-item-meta-description p{
    margin: 0;
}
.ant-layout {
    border: 1px solid #ccc
}
.ant-menu {
    border-right: none
}
 .ant-layout-content .ant-list-items{
    border-left: 1px solid #ccc
}
.ant-layout-sider .ant-menu-item {
    text-align: center
}
.ant-pagination{
    float: right
}